/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * Font Size
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-root-font-size: 20px;
  --vp-custom-root-line-height-ratio: 1.8;
  --vp-custom-root-scale-ratio: 1.25;
}

html,
body {
  font-size: var(--vp-custom-root-font-size);
  line-height: calc(var(--vp-custom-root-font-size) * var(--vp-custom-root-line-height-ratio));
}

.vp-doc {
  --p: var(--vp-custom-root-font-size);
  --h6: var(--p);
  --h5: var(--p);
  --h4: calc(var(--h5) * var(--vp-custom-root-scale-ratio));
  --h3: calc(var(--h4) * var(--vp-custom-root-scale-ratio));
  --h2: calc(var(--h3) * var(--vp-custom-root-scale-ratio));
  --h1: calc(var(--h2) * var(--vp-custom-root-scale-ratio));
}

.vp-doc h1 {
  font-size: var(--h1);
  line-height: calc(var(--h1) * var(--vp-custom-root-line-height-ratio));
}

.vp-doc h2 {
  font-size: var(--h2);
  line-height: calc(var(--h2) * var(--vp-custom-root-line-height-ratio));
}

.vp-doc h3 {
  font-size: var(--h3);
  line-height: calc(var(--h3) * var(--vp-custom-root-line-height-ratio));
}

.vp-doc h4 {
  font-size: var(--h4);
  line-height: calc(var(--h4) * var(--vp-custom-root-line-height-ratio));
}

.vp-doc h5 {
  font-size: var(--h5);
  line-height: calc(var(--h5) * var(--vp-custom-root-line-height-ratio));
}

.vp-doc h6 {
  font-size: var(--h6);
  line-height: calc(var(--h6) * var(--vp-custom-root-line-height-ratio));
}

.vp-doc p,
.vp-doc ul,
.vp-doc ol {
  font-size: var(--p);
  line-height: calc(var(--p) * var(--vp-custom-root-line-height-ratio));
}

/**
 * Heading: Custom styles in every post
 * -------------------------------------------------------------------------- */

.vp-doc h1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.15em;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg,
      #bd34fe 30%,
      #41d1ff);

  --vp-home-hero-image-background-image: linear-gradient(-45deg,
      #bd34fe 50%,
      #47caff 50%);
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

.vp-doc .custom-block {
  --block-p: var(--p);
  --block-title: var(--h3);
  --block-line-height: calc(var(--block-p) * 1.5);
  --subquote-p: calc(var(--block-p) * 0.9);
  --subquote-line-height: calc(var(--subquote-p) * 1.2)
}

.vp-doc .custom-block p,
.vp-doc .custom-block ul,
.vp-doc .custom-block ol {
  font-size: var(--p);
  line-height: var(--block-line-height);
}

.vp-doc .custom-block p {
  padding-left: 1.5em;
}

.vp-doc .custom-block > p:first-child {
  font-size: var(--block-title);
  line-height: var(--block-line-height);
  padding-left: 0;
  text-indent: 0;
  margin-bottom: 1rem;
}

.vp-doc .custom-block > blockquote {
  margin-left: 3em;
  border-color: var(--vp-c-text-3);
}

.vp-doc .custom-block > blockquote p {
  font-size: var(--subquote-p);
  line-height: var(--subquote-line-height);
  color: var(--vp-c-text-1);
  padding-left: 0;
}

.vp-doc .custom-block > ul,
.vp-doc .custom-block > ol {
  font-size: var(--p);
  line-height: calc(var(--p) * var(--vp-custom-root-line-height-ratio));
  padding-left: 2em;
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

/**
 * Component: Post badge
 * -------------------------------------------------------------------------- */

.vp-post {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 1rem 0;
}

.vp-post > .VPBadge {
  font-size: calc(var(--vp-custom-root-font-size) * 0.85)
}

/**
 * External link symbol
 * -------------------------------------------------------------------------- */

.vp-doc p > a[href*='://']::after {
  content: "\f08e";
  font-family: 'Font Awesome 7 Free';
  font-weight: 900;
  font-size: 0.75em;
}